
    &copy; 2024 - AspNetCoreSecondProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    | <a asp-area="" asp-controller="Home" asp-action="Privacy">Services</a>
    | <a asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
